<?xml version="1.0" ?>
<robot name="solo"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <!-- Simulation control arguments -->
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="true" />
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <xacro:arg name="sim_gazebo_classic" default="false" />
  <xacro:arg name="sim_gazebo" default="false" />
  <xacro:arg name="simulation_controllers" default="" />

  <xacro:property name="color_name" value="grey" />
  <xacro:property name="color" value="0.8 0.8 0.8" />
  <xacro:property name="opacity" value="1.0" />
  <xacro:property name="mesh_ext" value="stl" />

  <!-- Include ROS2 control xacro file -->
  <xacro:include filename="solo12.ros2_control.xacro"/>

  <!-- ROS2 control macro for solo robot -->
  <xacro:solo12_ros2_control 
    name="solo"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"
    sim_gazebo="$(arg sim_gazebo)"/>

  <!-- Base link configuration -->
  <link name="base_link">
    <!-- BASE LINK INERTIAL -->
    <inertial>
        <origin xyz="-0.00082966 0.00000105 -0.00060210" rpy="0 0 0" />
        <mass value="1.25123725"/>
        <!-- The base is extremely symmetrical. -->
        <inertia ixx="0.00266220" ixy="-0.00003684" ixz="-0.00001716"
                                  iyy="0.01388510"  iyz="-0.00000009"
                                                    izz="0.01605370"
        />
    </inertial>
    <!-- BASE LINK VISUAL -->
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="file://$(find solo12_description)/meshes/collision/base.${mesh_ext}"/>
        </geometry>
        <material name="${color_name}">
            <color rgba="${color} ${opacity}"/>
        </material>
    </visual>
    <!-- BASE LINK COLLISION -->
    <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="file://$(find solo12_description)/meshes/collision/base.${mesh_ext}"/>
        </geometry>
        <material name="${color_name}">
            <color rgba="${color} ${opacity}"/>
        </material>
    </collision>
    <!-- Bullet specific parameters -->
    <contact>
      <lateral_friction value="1.0"/>
      <restitution value="0.5"/>
    </contact>
  </link> <!-- END BASE LINK -->

  <!-- Include the legs -->
  <xacro:include filename="leg.xacro"/>

  <!-- Include the front left leg -->
  <xacro:leg
      prefix="FL"
      is_front="true"
      is_right="false"
      has_side_motion="true"
      mesh_ext="${mesh_ext}"
      color_name="${color_name}"
      color="${color}"
      opacity="${opacity}"/>

  <!-- Include the front right leg -->
  <xacro:leg
      prefix="FR"
      is_front="true"
      is_right="true"
      has_side_motion="true"
      mesh_ext="${mesh_ext}"
      color_name="${color_name}"
      color="${color}"
      opacity="${opacity}"/>

  <!-- Include the hind left leg -->
  <xacro:leg
      prefix="HL"
      is_front="false"
      is_right="false"
      has_side_motion="true"
      mesh_ext="${mesh_ext}"
      color_name="${color_name}"
      color="${color}"
      opacity="${opacity}"/>

  <!-- Include the hind right leg -->
  <xacro:leg
      prefix="HR"
      is_front="false"
      is_right="true"
      has_side_motion="true"
      mesh_ext="${mesh_ext}"
      color_name="${color_name}"
      color="${color}"
      opacity="${opacity}"/>

  <!-- Gazebo simulation control: gazebo classic or ignition -->
  <xacro:if value="$(arg sim_gazebo_classic)">
    <!-- Gazebo classic plugins -->
    <gazebo reference="base_link">
    </gazebo>
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <xacro:if value="$(arg sim_gazebo)">
    <!-- Gazebo Ignition plugins -->
    <gazebo reference="base_link">
    </gazebo>
    <gazebo>
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(arg simulation_controllers)</parameters>
        <controller_manager_node_name>controller_manager</controller_manager_node_name>
      </plugin>
    </gazebo>
  </xacro:if>

</robot>
